.wrapper {
	display: flex;
	align-items: center;
}

.button {
	background-color: transparent;
	border: none;
  height: 100%;
	padding: 0 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
}

.icon {
	height: 50%;
}
