@use "../../../../../styles/variables.scss" as vars;

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	width: 140px;
	height: 40px;
	border: 1px solid vars.$text-color;
}

.button {
	flex: 1;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 24px;
	height: 40px;
	padding: 4px;
}

.active {
	p {
		font-family: vars.$font-secondary;
		border-radius: 50px;
		line-height: 32px;
		background-color: white;
		color: vars.$text-color-dark;
	}
}

.icon {
	height: 50%;
}
