@use "../../../styles/variables.scss" as vars;

.wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	height: 120px;
	position: fixed;
	top: 0;
	left: 0;
	gap: 40px;
	padding: 20px 6vw;
	z-index: 1;
	background: linear-gradient(vars.$background-basic 25%, transparent 100%);
}

.left {
	display: flex;
}

.center {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
}

.projectNav {
	padding: 0 12px;
	font-size: 16px;
	line-height: 50px;
	color: vars.$text-color;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	transition: color 0.3s;
}

.right {
	display: flex;
	margin-left: auto;
}
