@use "../../../styles/variables.scss" as vars;

$tech-colors: (
	react: #61dafb,
	redux: #764abc,
	js: #f7df1e,
	typescript: #3178c6,
	nodejs: #8cc84b,
	nestjs: #e0234e,
	prisma: #2d3748,
	figma: #0acf83,
	github: #ccc,
	postman: #ff6c37,
	jira: #2684ff,
	prettier: #56b3b4,
	replit: #fd5402,
	powershell: #e0eaf5,
	sass: #cc6699,
	gsap: #88ce02,
	appwrite: #f02d65,
	bootstrap5: #7952b3,
	electron: #47848f,
	mysql: #4479a1,
	vitejs: #41d1ff,
	tailwindcss: #06b6d4,
);

.projectStack {
	position: relative;
	overflow: hidden;
	height: 100%;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		height: 100%;
		width: vars.$spacing-lg;
		pointer-events: none;
		z-index: 2;
	}

	&::before {
		left: 0;
		background: linear-gradient(
			to right,
			vars.$background-basic 0%,
			transparent 100%
		);
	}

	&::after {
		right: 0;
		background: linear-gradient(
			to left,
			vars.$background-basic 0%,
			transparent 100%
		);
	}
}

.track {
	display: flex;
	cursor: grab;
	width: max-content;
	padding-left: 10px;
	height: 100%;
}

.stackItem {
	display: flex;
	align-items: center;
	padding: vars.$spacing-xs vars.$spacing-md;
	border-radius: vars.$radius-sm;
	height: 100%;

	p {
		text-transform: uppercase;
		font-size: vars.$font-sm;
	}
}

.stackIcon {
	height: 100%;
	margin-right: vars.$spacing-xs;
}

.opacityBlock {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50px;
	background: linear-gradient(
		to left,
		vars.$background-basic 70%,
		transparent 100%
	);
	pointer-events: none;
	z-index: 2;
}

.arrow {
	position: absolute;
	right: 5px;
	top: 50%;
	width: 24px;
	height: 24px;
	transform: translateY(-50%);
	z-index: 3;
}

@each $name, $color in $tech-colors {
	[data-tech="#{$name}"] {
		background: linear-gradient(
			90deg,
			#{$color} 0%,
			vars.$background-basic vars.$spacing-md
		);

		p {
			color: $color;
		}
	}
}

@media (max-width: vars.$bp-md) {
	.stackIcon {
		height: 30px;
		width: 30px;
	}
}
