@use "../../../styles/variables.scss" as vars;

.sliderMain {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 120%;
	margin-right: 20%;
	height: 35vh;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 60px 20px rgba(0, 0, 0, 0.7);
}

.slideImage {
	width: 100%;
	object-fit: cover;
	display: block;
}

:global(.swiper) {
	width: 100%;
}

:global(.swiper-slide) {
	height: 30vh;
	border-radius: vars.$radius-2xl;
	user-select: none;
	transition: all 0.6s ease;
	position: relative;
}

:global(.swiper-slide-active) {
	border: 3px solid vars.$text-color-light;
}

:global(.swiper-slide img) {
	position: absolute;
	inset: 0;
	height: calc(100% - 50px);
	border-radius: 30px;
	filter: grayscale(90%);
	object-position: top center;
}

:global(.swiper-slide-active img) {
	filter: grayscale(0%);
}

.slideTitle {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: vars.$text-color-light;
	font-size: vars.$font-size-md;
	pointer-events: none;
}

@media (max-width: vars.$bp-xl) {
	.slideTitle {
		font-size: calc(vars.$font-size-md * 0.9);
	}
}

@media (max-width: vars.$bp-md) {
	.sliderMain {
		height: 40%;
	}
	:global(.swiper-slide) {
		height: 25vh;
	}
}
