@use "../../../styles/variables.scss" as vars;

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: vars.$spacing-lg vars.$site-spacing-md;
	background-color: vars.$primary-color-dark;
	position: relative;
}

.cta {
	flex: 1;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	h2 {
		font-size: 8rem;
		font-family: vars.$font-main-bold;
		margin-bottom: 12px;
		color: vars.$text-color-light;
	}

	p {
		font-size: vars.$font-sm;
		font-family: vars.$font-main;
		margin-bottom: 24px;
		color: vars.$text-color-light;
	}
}

.formContainer {
	flex: 1;
	height: 60%;
}

@media (max-width: vars.$bp-lg) {
	.wrapper {
		flex-direction: column;
		padding: vars.$spacing-md vars.$site-spacing-sm;
	}

	.cta {
		height: 30%;
		flex: none;
		align-items: center;
		h2 {
			font-size: vars.$font-4xl;
			margin: 0;
		}

		p {
			margin: 0;
			font-size: vars.$font-sm;
		}
	}

	.formContainer {
		flex: none;
		width: 100%;
		height: 60%;
	}
}
