@use "../../../../styles/variables.scss" as vars;

.skillsPanel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 60%;
	gap: 0;
	background: linear-gradient(
		vars.$primary-color-dark 80%,
		vars.$primary-color-dark 100%
	);
	border-radius: vars.$radius-2xl;
	margin-right: vars.$site-spacing-md;
	padding-bottom: vars.$spacing-lg;
}

.skillsSectionHeader {
	width: 100%;
	color: vars.$text-color-light;
	text-align: center;
	font-family: vars.$font-main-bold;
}

.leftSide {
	flex: 1;
	padding: vars.$spacing-sm vars.$spacing-md 0 vars.$spacing-xl;
}

.rightSide {
	flex: 1;
	padding: vars.$spacing-sm vars.$spacing-xl 0 vars.$spacing-md;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: vars.$spacing-lg;

	section {
		display: flex;
		flex-direction: column;
		gap: vars.$spacing-md;
		background-color: vars.$background-basic;
		padding: vars.$spacing-sm;
		border-radius: vars.$radius-md;
		h2 {
			font-size: vars.$font-2xl;
			font-family: vars.$font-main-bold;
			color: vars.$primary-color;
		}
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: vars.$spacing-sm;
			padding-left: vars.$spacing-md;
			list-style: none;
			li {
				width: calc(50% - vars.$spacing-md);
			}
			p {
				font-size: vars.$font-lg;
				font-family: vars.$font-secondary;
				color: vars.$text-color-light;
				text-align: center;
				// border-bottom: 2px solid vars.$secondary-color; // For animation purpose
			}
		}
	}
}
