@use "./variables.scss" as vars;
@use "sass:color";

// RESET

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

// TYPOGRAPHY

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
strong {
	overflow-wrap: break-word;
	color: vars.$text-color;
}

span,
strong {
	color: vars.$accent-color;
}

p {
	text-wrap: pretty;
	font-size: vars.$font-size-basic;
	font-weight: 400;
}

h1,
h2 {
	color: vars.$primary-color;
}

h3,
h4,
h5,
h6 {
	color: vars.$accent-color;
	text-wrap: balance;
}

a {
	color: vars.$primary-color-light;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: vars.$primary-color;
	border: none;
	color: vars.$text-color-dark;
	border-radius: 5px;
	transition: background-color 0.5s;

	&:hover {
		background-color: color.adjust(vars.$primary-color, $lightness: -10%);
	}
}

// PAGE WRAPPER

body {
	display: flex;
	min-width: 320px;
	min-height: 100vh;
	background-color: vars.$background-primary;
	font-family: vars.$font-main;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

#root {
	width: 100vw;
	height: 100vh;
}

:root {
	font-size: vars.$font-size-basic;
}
