@use "sass:color";

// MAIN COLORS

$primary-color: #cc0a34;
$primary-color-dark: #99142f;
$primary-color-light: #ff214e;
$secondary-color: #ffc621;
$secondary-color-dark: color.adjust($secondary-color, $lightness: -20%);
$secondary-color-light: color.adjust($secondary-color, $lightness: 10%);

// TEXT & BACKGROUND COLORS

$background-primary: #e0e0e0;
$background-secondary: #727272;
$background-teritary: #313131;
$background-basic: #111111;

$text-color: #1a1a1a;
$text-color-light: #dddddd;

$alert-color: #ffc6ba;
$success-color: #0acc6b;

// FONTS
@font-face {
	font-family: "Roboto-Regular";
	src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto-Bold";
	src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "RobotoCondensed-Regular";
	src: url("../assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Kanit-Regular";
	src: url("../assets/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Kanit-SemiBold";
	src: url("../assets/fonts/Kanit/Kanit-SemiBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

$font-main: "Roboto-Regular", sans-serif;
$font-main-bold: "Roboto-Bold", sans-serif;
$font-secondary: "RobotoCondensed-Regular", sans-serif;
$font-special: "Kanit-Regular", sans-serif;
$font-special-bold: "Kanit-SemiBold", sans-serif;
$font-size-md: 16px;

$font-2xs: 0.6rem;
$font-xs: 0.7rem;
$font-sm: 0.8rem;
$font-lg: 1.1rem;
$font-xl: 1.3rem;
$font-2xl: 1.6rem;
$font-3xl: 2rem;
$font-4xl: 3rem;
$font-5xl: 6rem;

// SPACING & DIMENSIONS
$spacing-2xs: 0.3rem;
$spacing-xs: 0.4rem;
$spacing-sm: 0.6rem;
$spacing-md: 0.9rem;
$spacing-lg: 1.3rem;
$spacing-xl: 1.8rem;
$spacing-2xl: 2.2rem;

$site-spacing-xs: 1rem;
$site-spacing-sm: 2rem;
$site-spacing-md: 3rem;
$site-spacing-lg: 5rem;
$site-spacing-xl: 8rem;
$site-spacing-2xl: 10rem;

// OTHER VARIABLES

$radius-sm: 0.4rem;
$radius-md: 0.8rem;
$radius-lg: 1.2rem;
$radius-xl: 1.6rem;
$radius-2xl: 2rem;

$shadow-color: rgba(0, 0, 0, 0.5);
$transition-basic: 0.3s;

// BREAKPOINTS
$bp-2xs: 320px;
$bp-xs: 480px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 1080px;
$bp-xl: 1440px;
