@use "../../../styles/variables.scss" as vars;

.wrapper {
	position: absolute;
	bottom: 50px;
	right: 110px;
}

.socialLinksList {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.socialLink {
	img {
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(100%)
			hue-rotate(0deg);
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 768px) {
	.wrapper {
		right: 50%;
		transform: translateX(50%);
		bottom: vars.$site-spacing-lg;
	}
}
