@use "../../../styles/variables.scss" as vars;

.wrapper {
	background-color: vars.$background-basic;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: vars.$site-spacing-2xl;
}

// Project Header Section

.projectHeader {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("../../../assets/.placeholders/placebgc.png");
	background-size: cover;
	background-position: center;
}

.projectImage {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: linear-gradient(
		transparent 0,
		rgba(vars.$background-basic, 0.5) 20%,
		vars.$background-basic 100%
	);
	z-index: 0;
	pointer-events: none;
}

.projectTitle {
	font-family: vars.$font-main-bold;
	font-size: vars.$font-4xl;
	color: vars.$text-color-light;
	margin-top: 20vh;
	z-index: 1;
}

.projectMotto {
	font-family: vars.$font-special;
	font-size: vars.$font-lg;
	color: vars.$text-color-light;
	margin-top: 20vh;
	z-index: 1;
}

.goDownButton {
	width: 20px;
	height: 20px;
	background-color: transparent;
	border: none;
	border-radius: vars.$radius-md;
	cursor: pointer;
	z-index: 1;
	img {
		rotate: 90deg;
		width: 20px;
		position: absolute;
		bottom: 5vh;
	}
}

.mainSection {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0 vars.$spacing-xl;
	height: 90vh;
	width: 100vw;
}
