@use "../../../../../styles/variables.scss" as vars;

.wrapper {
	display: flex;
	align-items: center;
	height: 10vh;
}

.logoButton {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	max-height: 100%;

	.logo {
		display: flex;
		width: calc(vars.$site-spacing-md * 0.75);
		aspect-ratio: 1 / 1;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		user-select: none;
		transition: transform vars.$transition-basic;

		&:hover {
			transform: scale(1.05);
		}
	}
}

.logoText {
	display: flex;
	align-items: center;
	margin-left: vars.$spacing-md;

	.logoName {
		font-size: calc(vars.$font-2xl * 0.7);
		letter-spacing: 1.5px;
		font-family: vars.$font-secondary;
		color: vars.$text-color-light;
	}
}

.backToTopButton {
	background: vars.$background-teritary;
	border: none;
	cursor: pointer;
	border-radius: 50px;
	transition: background-color vars.$transition-basic;

	&:hover {
		background-color: vars.$text-color-light;
		.backToTopText {
			color: vars.$text-color;
			transition: color vars.$transition-basic;
		}
	}

	.backToTopContainer {
		display: flex;
		align-items: center;
		padding: 15px;
		gap: 5px;
	}

	.backToTopText {
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-family: vars.$font-main;
		color: vars.$text-color-light;
		transition: color vars.$transition-basic;
	}

	.arrowFadeWrapper {
		position: relative;
		width: 20px;
		height: 20px;

		.backToTopIcon {
			position: absolute;
			top: 0;
			left: 0;
			max-width: 20px;
			max-height: 20px;
			transition: opacity vars.$transition-basic,
				transform vars.$transition-basic;
			rotate: 180deg;
		}
		.arrowVisible {
			opacity: 1;
			z-index: 2;
		}
		.arrowHidden {
			opacity: 0;
			z-index: 1;
		}
	}
}

@media (max-width: vars.$bp-lg) {
}

@media (max-width: vars.$bp-md) {
	.logoButton .logo {
		width: calc(vars.$site-spacing-sm * 0.85);
	}
	.logoText .logoName {
		font-size: calc(vars.$font-size-md * 0.9);
	}
}

@media (max-width: vars.$bp-sm) {
	.logoText {
		margin-left: vars.$spacing-sm;
	}
}

@media (max-width: vars.$bp-xs) {
	.logoButton .logo {
		width: calc(vars.$site-spacing-sm * 0.7);
	}
	.logoText .logoName {
		font-size: calc(vars.$font-sm * 0.95);
	}
}

@media (max-width: vars.$bp-2xs) {
	.logoButton .logo {
		width: calc(vars.$site-spacing-sm * 0.6);
	}
}
