@use "../../../../../styles/variables.scss" as vars;

.wrapper {
	display: flex;
	align-items: center;
}

.logo {
	display: flex;
	width: 200px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
	transition: transform 0.3s;

	&:hover {
		transform: scale(1.05);
	}
}

.logoButton {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}
