@use "../../styles/variables.scss" as vars;

.customScroll {
	position: fixed;
	top: 0;
	right: 6px;
	width: 6px;
	height: 100vh;
	background: transparent;
  z-index: 9999;
}

.customThumb {
	width: 100%;
	height: 40px;
	border-radius: 10px;
	background: vars.$primary-color;
}
