@use "../../styles/variables.scss" as vars;

.customScroll {
	position: fixed;
	top: 0;
	right: vars.$spacing-2xs;
	width: vars.$spacing-2xs;
	background: transparent;
  z-index: 9999;
}

.customThumb {
	border-radius: vars.$radius-sm;
	background: vars.$text-color-light;
}
