@use "../../../styles/variables.scss" as vars;

.wrapper {
	background-color: vars.$background-basic;
	min-height: 100vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
}

.spacer {
	height: 10vh;
}

.contactSection {
	height: 100vh;
	background-color: vars.$primary-color;
	display: flex;
	justify-content: center;
	align-items: center;
	h3 {
		color: vars.$text-color-light;
		font-family: vars.$font-main-bold;
		font-size: vars.$font-5xl;
		margin-bottom: 20px;
	}
}

@media (max-width: vars.$bp-lg) {
	.contactSection {
		height: 70vh;
	}
}
