@use "../../../styles/variables.scss" as vars;

.wrapper {
	background-color: vars.$background-basic;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: vars.$site-spacing-lg;
}

.spacer {
	height: 10vh;
}

// Hero Section



.contactSection {
	height: 100vh;
	background-color: vars.$primary-color;
	display: flex;
	justify-content: center;
	align-items: center;
	h3 {
		color: vars.$text-color-light;
		font-family: vars.$font-main-bold;
		font-size: vars.$font-5xl;
		margin-bottom: 20px;
	}
}
