@use "../../../styles/variables.scss" as vars;

.wrapper {
	display: flex;
	flex-direction: column;
	margin: vars.$site-spacing-lg 0 0 vars.$site-spacing-2xl;
	width: min(500px, 60%);
}

.text {
	margin-bottom: vars.$site-spacing-sm;
	font-size: vars.$font-xl;
	font-weight: 400;
	font-family: vars.$font-main;
	display: flex;
	flex-direction: column;
	.name {
		font-size: vars.$font-4xl;
		font-weight: 700;
		color: vars.$text-color-light;
		text-align: left;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	.introduction {
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		color: vars.$text-color-light;
		text-align: left;
		font-family: vars.$font-secondary;
	}
}

.scrollDown {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 100%;
	height: 45px;
	.scrollTextWrapper {
		flex: 3;
		height: 100%;
		background-color: #fff;
		border-radius: 50px 10px 10px 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		.scrollText {
			color: vars.$text-color;
			text-transform: uppercase;
			text-align: left;
			width: 100%;
			padding: 20px;
			font-family: vars.$font-secondary;
			letter-spacing: 2px;
		}
	}
	.scrollButton {
		flex: 1;
		border-radius: 10px 50px 50px 10px;
		height: 100%;
		border: none;
		p {
			color: vars.$text-color;
			font-family: vars.$font-main-bold;
			text-transform: uppercase;
		}
	}
}

@media (max-width: vars.$bp-xl) {
	.wrapper {
	}
}

@media (max-width: vars.$bp-lg) {
}

@media (max-width: vars.$bp-md) {
	.wrapper {
		margin: vars.$site-spacing-md auto;
	}

	.text {
		.name {
			font-size: vars.$font-3xl;
			font-weight: 700;
			color: vars.$text-color-light;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
		.introduction {
			line-height: 20px;
			color: vars.$text-color-light;
			text-align: center;
			font-family: vars.$font-secondary;
		}
	}
}

@media (max-width: vars.$bp-sm) {
}

@media (max-width: vars.$bp-xs) {
}

@media (max-width: vars.$bp-2xs) {
}
