@use "../../../styles/variables.scss" as vars;

.showcase {
	display: flex;
	overflow: hidden;
	width: 150px;
	background-color: vars.$background-primary;
	height: 25px;
	scrollbar-width: none;
	border-radius: vars.$radius-md;
	margin-bottom: 30px;
	.showcaseText {
    min-width: 150px;
    max-width: 150px;
		font-size: 16px;
		font-weight: 700;
		line-height: 25px;
		font-family: vars.$font-main;
		color: #111;
	}
}
