@use "../../../styles/variables.scss" as vars;

.seeAlsoSection {
	height: 40vh;
	padding: 0 vars.$site-spacing-lg;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: vars.$spacing-xl;
	margin-bottom: vars.$site-spacing-lg;

	h3 {
		font-size: vars.$font-3xl;
		color: vars.$text-color-light;
		text-transform: uppercase;
	}
}

.list {
	display: flex;
	gap: vars.$spacing-md;
	list-style: none;
	flex-wrap: nowrap;
	height: auto;
}

.projectItem {
	flex: 1 1 0;
	min-height: 180px;
	max-height: 100%;
	background-color: vars.$background-teritary;
	border: 1px solid vars.$primary-color-dark;
	border-radius: vars.$radius-md;
	transition: 0.25s ease;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;

	&:hover {
		box-shadow: 0 0 15px rgba(vars.$primary-color, 0.4);
		border-color: vars.$primary-color-light;
	}
}

.overlayLink {
	all: unset;
	cursor: pointer;
	display: flex;
	width: 100%;
	height: 100%;
}

.textContent {
	width: 55%;
	padding: vars.$spacing-md;
	display: flex;
	flex-direction: column;
	gap: vars.$spacing-sm;

	h4 {
		font-size: vars.$font-xl;
		color: vars.$text-color-light;
	}

	p {
		font-size: vars.$font-size-md;
		color: vars.$text-color-light;
		opacity: 0.8;
	}
}

.projectImage {
	width: 45%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: vars.$radius-sm;
}

@media (max-width: vars.$bp-xl) {
	.seeAlsoSection h3 {
		font-size: vars.$font-2xl;
	}

	.textContent {
		width: 60%;
		justify-content: center;
		h4 {
			font-size: vars.$font-lg;
		}
		p {
			display: none;
		}
	}

	.projectImage {
		width: 40%;
	}
}

@media (max-width: vars.$bp-lg) {
	.seeAlsoSection {
		height: 100%;

		h3 {
			max-height: 20%;
		}
	}

	.list {
		flex-direction: column;
		max-height: 80%;
	}

	.textContent {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: vars.$bp-md) {
	.seeAlsoSection {
		padding: 0 vars.$site-spacing-sm;
	}

	.projectItem {
		min-height: 120px;
	}

	.textContent h4 {
		font-size: vars.$font-size-md;
	}
}

@media (max-width: vars.$bp-xs) {
	.projectItem {
		min-height: 70px;
	}
	.projectImage {
		display: none;
	}
	.textContent {
		h4 {
			font-size: vars.$font-sm;
		}
	}
}

// CV variant

.seeAlsoSectionCV {
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h3 {
		font-size: vars.$font-xl;
		color: vars.$text-color-light;
		text-transform: uppercase;
		flex: 1;
	}
}

.listCV {
	flex: 4;
	display: flex;
	gap: vars.$spacing-md;
	list-style: none;
	flex-wrap: nowrap;
	height: auto;
}

.projectItemCV {
	flex: 1;
	background-color: vars.$background-basic;
	border: 1px solid vars.$primary-color-dark;
	border-radius: vars.$radius-md;
	transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	position: relative;
	overflow: hidden;

	&:hover {
		cursor: pointer;
		box-shadow: 0 0 15px rgba(vars.$primary-color, 0.5);
		border-color: vars.$primary-color-light;
	}
}

.textContentCV {
	z-index: 2;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
	text-align: center;

	h4 {
		color: vars.$text-color-light;
		font-size: vars.$font-xl;
	}
}

.projectImageCV {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: 1;
	filter: opacity(0.2);
}

.hidden {
	display: none;
}

@media (max-width: vars.$bp-xl) {
	.textContentCV {
		h4 {
			font-size: vars.$font-lg;
		}
	}
}

@media (max-width: vars.$bp-lg) {
	.seeAlsoSectionCV {
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h3 {
			font-size: vars.$font-lg;
			color: vars.$text-color-light;
			text-transform: uppercase;
		}
	}

	.textContentCV {
		h4 {
			font-size: calc(vars.$font-lg * 0.7);
		}
	}
	.overlayLink {
		padding: vars.$spacing-xs;
	}
}

@media (max-width: vars.$bp-md) {
	.seeAlsoSection {
		height: auto;
	}

	.textContentCV {
		h4 {
			font-size: vars.$font-sm;
		}
	}

	.list {
		flex-direction: column;
	}

	.projectItem {
		max-height: 300px;
	}
}
